<div class="list-group-item list-group-item-<%= good_request.main_agreement ? 'success' : 'warning' %>">
  <strong><%= good_request.user.cn %></strong> 
  <span class="float-right">
    <% if good_request.main_agreement %>  
      in convenzione <%= good_request.main_agreement %>  
    <% else %>
      FUORI CONVENZIONE
    <% end %>
  </span> <br/>
  <%= good_request.name %> su fondi di <%= good_request.holder %>  
  <span class="float-right">
    <%= link_to icon('print'), print_good_request_path(good_request, man: 1, format: :docx), title: 'Manifestazione Esigenza' %> 
    <% if user_admin? %>  
      <%= link_to icon('print'), print_good_request_path(good_request, rel: 1, format: :docx), title: 'Relazione Rup' %> 
    <% end %>
    <%= link_to icon('edit'), edit_good_request_path(good_request), title: 'Modifica richiesta' %> 
    <%= link_to_delete good_request_path(good_request) %> 
  </span>
</div>

