<div class="card my-3">
  <div class="card-header">
    <strong>Richiesta di <%= good_request.user.cn.upcase %></strong>
    <span class="float-end">
      <% if good_request.main_agreement %>  
        in convenzione <%= good_request.main_agreement %>  
    <% else %>
      <span class="text-warning"> FUORI CONVENZIONE <%= dm_icon('exclamation-triangle') %></span>
    <% end %>
    </span>
  </div>
  <div class="card-body">
    <div style="text-weight: bold"><%= good_request.name %></div>
    <div style="font-style: italic; margin-left: 10px"><%= good_request.description %></div>
    <div style="font-style: italic; margin-left: 10px"><%= good_request.derogation %></div>
  </div>
  <div class="card-footer">
    <span class="font-italic">
      Prezzo massimo: <%= good_request.max_price %> &euro; su fondi di <%= good_request.holder %>
    </span>
    <% if good_request.holder_approved? %> 
      <span class="text-success">
        <%= dm_icon('check') %> (approvato)
      </span>
    <% end %>
    <span class="float-end">
      <% if policy(good_request).print? %>  
        <%= link_to dm_icon('print'), print_good_request_path(good_request, man: 1, format: :docx), title: 'Manifestazione Esigenza' %> 
        <%= link_to dm_icon('print'), print_good_request_path(good_request, rel: 1, format: :docx), title: 'Relazione Rup' %> 
      <% end %>
      <% if policy(good_request).edit? %>
        <%= link_to dm_icon('edit'), edit_good_request_path(good_request), title: 'Modifica richiesta' %> 
      <% end %>
      <% if policy(good_request).destroy? %>  
        <%= link_to_delete good_request_path(good_request) %> 
      <% end %>
      <% if policy(good_request).approve? %>  
        <% if good_request.holder_approved? %>  
          <%= dm_icon('check') %> 
        <% else %>
          <%= link_to dm_icon('check') + ' approva', approve_good_request_path(good_request), class: 'btn btn-success', method: :put %> 
        <% end %>
      <% end %>
    </span>
  </div>
</div>

