<h1>Elenco risorse disponibili<br/><small><%= current_organization %></small></h1>

<% @servers.each do |server| %>  
  <%= dm_card title: "#{server.name.upcase} (#{ server.url })" do %>  
    <div class="row">
      <div class="col-md-6">
        <pre><%= server.hardware %></pre>
      </div>
      <div class="col-md-6">
        <pre><%= server.software %></pre>
      </div>
    </div>

    <div class="centered">
    <%= link_to "PRENOTA", server_bookings_path(server), class: "btn btn-primary btn-lg p-3" %> 

    <% if user_admin? %>  
      - <%= link_to 'modifica', edit_server_path(server) %>  
      <p><%= hg_url(id: server.api_key) %>  
    <% end %>
    </div>
  <% end %>
<% end %>

<% if current_user.is_admin? %>  
  <%= link_to 'Nuovo', new_server_path %>  
<% end %>
