<div class="card my-1" id="<%= dom_id(@good) %>" data-controller="good">
  <div class="card-header <%= 'unload-good' if @good.to_unload %> <%= 'unconfirmed-good' if @good.unconfirmed %>">
    <div class="row">
      <div class="col-4">
        <%= content_tag :div, class: "inv_number #{@good.user_id ? 'with-owner' : 'without-owner'} #{'found' if @found}" do %>
          <%= @good.inv_number.to_i %>
        <% end %>
        <% if @good.old_inv_number %>  
          <span class="small ps-2">(ex <%= @good.old_inv_number %> <%= @good.old_org %>)</span>
        <% end %>
      </div>

      <div class="col-8 text-end">
        <% if @manager %>
          <%= link_to(@good.user, goods_path(user_id: @good.user.id)) if @good.user_id %> &nbsp;
        <% else %>
          <%= @good.user %> &nbsp;
        <% end %>
        <span class="category_icon">
          <% if @good_policy.edit? %>  
            <%= link_to category_icon(@good.category, size: 25), ask_category_good_path(@good, modal: 1),
              data: {turbo_frame: 'modal'}, title: "Modifica la categoria" %>
          <% else %>
            <%= category_icon(@good.category, size: 25) %>
          <% end %>
        </span>
      </div>
    </div>
  </div>

  <div class="card-body" style="cursor: pointer"> 
    <div data-action="click->good#showUniboDescription">
      <% if @good.name.blank? %>
        <small><%= @good.description %></small>
      <% else %> 
        <%= @good.name.upcase %> 
      <% end %>
      <small>
        (<%= @good.build_year %> <%= @good.location %>)
      </small>
    </div>
    <div style="font-size: 80%; display: none" data-good-target="uniboDescription">
      inv: <%= @good.inv_number %> <%= " / #{@good.old_inv_number}" if @good.old_inv_number %> <br/>
      descrizione originale: <%= @good.unibo_description %> <br/>
      sn: <%= @good.sn %> <br/>
      anno: <%= @good.build_year %> <br/>
      prezzo: <%= @good.price %> &euro; <br/>
      <% if @good.to_unload %>  
        <strong>Stato:</strong> <%= @good.to_unload_status %>  
      <% end %>
      <% unless @good.unibo_description_sub.blank? %>  
        <hr/>
        descrizione originale sub: <%= @good.unibo_description_sub %> <br/>
      <% end %>
    </div>
    <% if (! @good.admin_notes.blank?) && @good_policy.read_admin_notes? %>  
      <span class="text-info"><%= @good.admin_notes %></span>
    <% end %>
  </div>

  <div class="card-footer">
    <%= @good.build_year %>  
    <%= status_icon(@good, size: 25) %>
    <% if @good_policy.edit? %>  
      <% if @good.unconfirmed %>  
        <strong>BENE NON PIÙ IN POSSESSO DI <%= @good.user %>.</strong>
        (<%= @good.unconfirmed_text %>)
      <% end %>
      <div class="actions float-end">
        <%= link_to helpers.dm_icon('edit'), edit_good_path(@good), data: { turbo_frame: 'modal' } %>
        <%= link_to_unload(@good) %>  
      </div>
    <% elsif @good_policy.unconfirm? %> 
      <% if @good.unconfirmed %>  
        <strong>BENE NON PIÙ IN MIO POSSESSO.</strong>
        (<%= @good.unconfirmed_text %>)
      <% else %>
        <%= link_to("NON PIÙ IN MIO POSSESSO", new_unconfirm_good_path(@good), class: 'btn btn-danger m-1') %>
        <% if @good.better_to_confirm %>
          <%= link_to("CONFERMA PRESENZA", new_confirm_good_path(@good), class: 'btn btn-success m-1') %>
        <% end %>
      <% end %>
    <% end %>
    <% if @good.confirmed %>  
      <small>(Presenza del bene confermata il <%= l @good.confirmed, format: :only_day %>)</small>
    <% end %>
  </div>
</div>
