<%= dm_form_for @good do |good| %>  
  <%= good.input :inv_number, disabled: true, as: :string %>  
  <%= good.input :name %>  
  <%= good.input :description, input_html: {rows: 4} %>  
  <%= good.input :user_upn %>
  <%= good.association :category %>
  <%= good.association :location %>
  <%= good.input :confirmed %>
  <%= good.submit %>  
<% end %>

<div class="alert alert-warning">
  <strong>Descrizione in Ugov:</strong>
  <i><%= @good.unibo_description %></i>
</div>

<%= render "dsausers/typeahead" %>  
