<%= dm_form_for @good do |f| %>  
  <%= f.input :inv_number, disabled: true, as: :string %>  
  <%= f.input :name %>  
  <%= f.input :description, input_html: {rows: 4} %>  
  <%= f.input :user_upn %>
  <%= f.association :category %>
  <%= f.association :location %>

  <%= f.input :admin_notes, as: :string %>  

  <% confirmed_hint = @good.confirmed ? "Ultima conferma di presenza: #{I18n.l(@good.confirmed)} da #{User.find(@good.confirmed_by)}. Fare check per confermare nuovamente" : "Fare check per confermare la presenza" %>  
  <%= f.input :confirmed, as: :boolean, input_html: { checked: false }, hint: confirmed_hint %>

  <%= f.input :to_unload_status %>  

  <%= f.submit %>  
<% end %>

<div class="alert alert-warning">
  in Ugov:<br/>
  <strong>sn:</strong><%= @good.sn %><br/>
  <strong>Descrizione:</strong><i><%= @good.unibo_description %></i><br/>
</div>

<%= javascript_tag do  %>  
  <%= render partial: "dsausers/awesomplete", formats: :js %>  
<% end %>
