<div class="card my-1" id="<%= div_good_id(good) %>">
  <div class="card-header <%= 'bg-warning' if good.to_unload  %>">
    <div class="row">
      <div class="col-5">
        <%= category_icon(good.category, size: 25) %>
      </div>

      <div class="col-2 centered">
        <%= big_icon('arrow-circle-right') if (search_string and good.inv_number == search_string.to_i) %>  
        <%= inv_number(good) %>  
      </div>

      <div class="col-5">
        <span class="float-right">
          <%= link_to(good.user, goods_path(user_id: good.user.id)) if good.user_id %> &nbsp;
          <%= big_icon('arrow-circle-right') if (search_string and good.old_inv_number == search_string.to_i) %>  
          <%= old_inv_number(good) %>  
        </span>
      </div>
    </div>
  </div>

  <div class="card-body">
    <%= (good.name.blank? ? good.description : good.name).upcase %> (<%= good.build_year %>)
    <span class="actions float-right">
      <%= link_to_edit(edit_good_path(good), modal: true) if current_user.is_admin? %>  
      <%= link_to_unload(good) %>  
    </span>
  </div>
</div>
