<h1>Oggetti</h1>

<h2>Nuova richiesta di acquisto</h2>
<div class="card-columns">
  <% Category.order(:number).find_each do |c| %>  
    <div class="card">
      <%= link_to new_category_good_path(c) do %>
        <div class="card-header text-center">
          <%= category_icon(c, size: 40)  %>  
        </div>
        <div class="card-body">
          <p class="text-center font-weight-bold"><%= c %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<h2><%= @title %>  </h2>
<div class="list-group">
  <% @goods.each do |good| %>  
    <div class="list-group-item list-group-item-action">
      <%= render good %>  
    </div>
  <% end %>
</div>

