<h2>Nuovi inventari</h2>

<div class="list-group">
  <% @new_goods.each do |good| %>  
    <%= render Good::CardComponent.new(good, current_user) %>  
  <% end %>
</div>

<h2>Modifiche</h2>

<% @differences.each do |good, d| %>  
  <div class="my-2 alert alert-info">
    <%= link_to "#{good.id} - #{good.name}", good_path(good) %>
    <% d.each do |a, v| %>   
      <div><%= a %>  old : <%= v %></div>
      <div><%= a %>  new : <%= good.send(a) %></div>
    <% end %>
  </div>
<% end %>
